@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6, span{
    color: #242424;
    line-height: 1.25;
    text-align: center;
}

h1{
    font-size: 36px;
}

p{
    line-height: 1.5;
    font-size: 16px;
}

li{
    list-style: none;
}

.flex-1{
    flex: 1;
}

.flex{
    display: flex;
}

.row{ /* To make content have a boundary and squeezed in the center, improves readability*/
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 12px; 
}

.text--purple{
    color: #6030b1;
}

section:nth-child(even){  /* Selecting the even sections */
    background-color: #f8f8f8; 
}

.container{
    padding: 50px 0;
}

.section__title{
    margin-bottom: 28px;
}

/* NAV BAR */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 12px;
}

.nav__link--list{
    display: flex;
}

.nav__link--anchor{
    text-decoration: none;
    color: #242424;
    font-weight: 700;
    margin: 0 12px;
} 

.nav__link--anchor--primary{
    background-color: #6030b1;
    color: #fff;
    border-radius: 50px;
    padding: 8px 20px;
    transition: all 0.3s ease;
}

.nav__link--anchor--primary:hover{
    background-color: #5d3eff;
}

.personal__logo{
    font-weight: bold ;
    font-size: 24px;
    margin: 0 12px;
    color: #6030b1;
}

/* ABOUT ME */

#about-me{
    min-height: 100vh; /* To make the section take the whole height of the screen */
    display: flex;
    flex-direction: column;
}
.about-me__info{
    display: flex;
    flex-direction: column;
}
.about-me__info--container{
    display: flex;
    flex-direction: column;
    align-items: center;  
    max-width: 600px;      
    margin: 0 auto;
    text-align: center;
}

.about-me__picture--mask{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden; /* To hide the overflow of the image */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    margin-bottom: 28px;
}

.about-me__picture{
    width: 100%;

    /* Improving the picture */
    transform: scale(1.5);
    padding-top: 8px;
}

.about-me__info--title{
    margin-bottom: 16px;
}

.about-me__info--para{
    font-size: 20px;
    margin-bottom: 28px;
}

.about-me__link--anchor{
    font-size: 20px;
    color: #242424;
    text-decoration: none;
    padding: 0 16px;
}

.about-me__img--container{
    display: flex;
    flex: 1;           /* To make the image take the whole width of the container */
    align-items: center;
}

.about-me__img{
    width: 100%;
}

/* TECH STACK */
.language{
    width: 25%;
    display: flex;
    justify-content: center; 
    position: relative; /* To position the "language__name" relative to the "language" */
}
.language__img{
    width: 100%;
    max-width: 100px;
    transition: all 0.3s;
}

.language:hover .language__img { /* As we hopver over the "language", target the "language__img" */
    filter: brightness(1.2); 
    opacity: 1.1;
    transform: scale(1.1);
}

.language__img--wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 16px;
}

.language__list{
    display: flex;
    flex-wrap: wrap; /* If the elements are more than the width of the container, wrap them. look the ".language" it has width 25% */
    justify-content: center;
    width: 100%;
}

.language__name{
    position: absolute; /* Position the "language__name" relative to the "language" */
    bottom: 0;        /* Position the "language__name" at the bottom of the "language" */
    transform: scale(0); /* Initially the scale is 0 */
    transition: all 300ms;
    font-size: 20px;
    opacity: 0;
}

.language:hover .language__name{
    transform: scale(1); /* When we hover over the "language", scale the "language__name" */
    opacity: 1;
    margin-bottom: -5px; /* To make the "language__name" go down a little bit */
}

/* PROJECTS */
.project{
    margin-bottom: 135px; 
}

.project:last-child{          /* To remove the margin-bottom of the last "project" */
    margin-bottom: 40px;
}

.project__img{
    width: 100%;
    transition: all 0.3s ease;
}

.project__wrapper{
    box-shadow: 0 20px 80px rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    overflow: hidden;
    display: flex;      /* To make the "project__img" fit into the "project__wrapper" */
    position: relative;
}

.project__wrapper:before{       /* To make the "project__wrapper" have an overlay already*/
    content: "";
    position: absolute;         /* To position the overlay relative to the "project__wrapper" and to not affect other stuff on the page */
    top: 0;                 /* Position the overlay at the top of the "project__wrapper" */
    left: 0;
    height: 100%;           /* Make the overlay take the whole height of the "project__wrapper" i.e. its parent */
    width: 100%;
    background-color: #1c1d25;
    opacity: 0;             /* Initially the opacity is 0 */
    transition: opacity 0.3s ease;      /* When we hover over the "project", make the overlay opacity transform slowly*/
    z-index: 2;            /* To make the overlay appear above the image */
}

.project:hover .project__wrapper:before{
    opacity: 0.7;       /* When we hover over the "project", make the overlay visible */
}

.project:hover .project__img{      /* When we hover over the "project", make the image scale and blur */
    transform: scale(1.07);
    filter: blur(2px);
}
.project:hover .project__description{
    opacity: 1;                                     /* When we hover over the "project", make the "project__description" visible */
    transform: translateY(-50%);            /* When we hover over the "project", make the "project__description" appear from the bottom */
}

.project__list{
    padding: 40px;
}

.project__description{
    position: absolute;             /* To position the "project__description" relative to the "project__wrapper" */
    top: 50%;                       /* Position the "project__description" at the mid of the "project__wrapper" */
    left: 90px;                     /* Position the "project__description" at a distance from left of the "project__wrapper" */
    right: 70px;                    /* Position the "project__description" at a distance from right of the "project__wrapper" */
    transform: translateY(100%);    /* To make the "project__description" HIDDEN AT FIRST */
    max-width: 550px;       
    z-index: 3;                     /* To make the "project__description" appear above the overlay */
    opacity: 0;         
    transition: transform 450ms , opacity 0.3s ;                
}

.project__description--title{
    font-size: 40px;
}

.project__description--para{
    margin: 16px 0;
}

.project__description--link{
    font-size: 20px;
    text-decoration: none;
    margin-right: 16px;
}

.project__description--title,
.project__description--subtitle,
.project__description--para,
.project__description--link{
    text-align: left;
    color: #fff;
}   